*{
    padding: 0;
    margin: 0;
}
h1
{
text-align: center;
background-color: blue;
color: #0f0f0f;
padding: 20px;
}
nav ul
{
background-color: aquamarine;
width: 100%;
list-style-type: none ;
text-align: center;
}
 nav li{
display: inline-flex;
}
nav a{
    text-decoration: none;
    color: rgb(2, 2, 2);
    padding: 10px;
    width: 150px;
}
nav li:hover
{
    background-color: #0f0f0f;

}
img
{
width: 250px;
height: 250px;
border-radius: 50%;
object-fit: cover;
}